/* Basic style */
body, html {
    margin: 0;
    padding: 0;
}

body {
    font-size: 30px;
}

.section {
    min-height: 80vh;
    background: url('u-red.svg'), url('b-red.svg'), url('g-red.svg'), url('r-red.svg');
    background-size: 120px 120px;
    background-repeat: no-repeat;
    background-position: top 100px left 300px, center center, right 200px top 100px, right 200px bottom 100px;
    background-attachment: fixed;
}

.section:nth-child(2) {
    background: url('u-yellow.svg'), url('b-yellow.svg'), url('g-yellow.svg'), url('r-yellow.svg');
    background-size: 120px 120px;
    background-repeat: no-repeat;
    background-position: top 100px left 300px, center center, right 200px top 100px, right 200px bottom 100px;
    background-attachment: fixed;
}

.section:nth-child(3) {
    background: url('u-green.svg'), url('b-green.svg'), url('g-green.svg'), url('r-green.svg');
    background-size: 120px 120px;
    background-repeat: no-repeat;
    background-position: top 100px left 300px, center center, right 200px top 100px, right 200px bottom 100px;
    background-attachment: fixed;
}

.section:nth-child(1) {
    background-color: #556964;
}

.section:nth-child(2) {
    background-color: #FF9600;
}

.section:nth-child(3) {
    background-color: #ffff00b3;
}

.section__content {
    margin: auto;
    max-width: 1024px;
    width: 100%;
    padding: 40px 20px;
}